/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #292929;
}

/* Main Styling */
html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #292929;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}
.parent_container{
  margin-top: 80px;
}
.view-container{
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
  color: #fff;
}

.title-container{
  margin-top: 40px;
  font-size: 30px;

}

.info-container {
  display: flex;
  font-weight: bold;
}

.info-child{
  pading: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.content-container{
  margin-bottom: 40px;
}




